<<<<<<< HEAD
{
  background-color: #232323;
  text-align: center;
=======

body{
  background-color:  #232323;
>>>>>>> 4c6a4612a064c8e488cc834ae7deb308c1a27e45
}
.square{
<<<<<<< HEAD
  float:left;
  width:30%;
  height:0;
  padding-bottom: 30%;
  background-color:rgb(243, 14, 14);
  margin:5px;
  border-radius:22px;
  border-radius: 100;
  border-style: solid;

  

}

.container{
  display: block;
  width: 600%;
  height: 600%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #fff;
  text-shadow: 1px 3px rgb(140, 127, 255);
}

#message{
  text-indent: center;
 margin-top: 100px;
}

#stripe{
 margin:auto;
 background-color: rgb(35, 35, 35 );
}
/* .square:hover{
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0 10px #fff;
  cursor: pointer;
} */
#stripe{
  margin:auto;
  background-color: rgb(35, 35, 35);
  height: 30px;
  color : #fff;
  text-align: center;
  width: 300%;
  height: 100px;
  border-radius: 20px;
  margin-top: 10px;
  padding-top: 10px;

  
}
 #btn {
  display: none;
  margin:auto;
  border-radius: 5px;
  background-color: rgb(52,117,95);
  border-color: aquamarine;
 }



  /* background-color: #fff;
  border-radius: 20px;
  color: #000;
  text-align: center;
  width: 100px;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid #000; */
 
=======
  width: 130px;
  height: 100px;
  background-color: bisque;
  float: left;
  padding-bottom: 30px;
  margin: 10px;
}
.container{
  max-width: 500px;
  margin: 0 auto;
}
h1{
  color: aliceblue;
  text-align: center;
}
#mensaje{
  color: aliceblue;
  text-align: center;
  font-size: 52px;
}
label{
  color:white;}
>>>>>>> 4c6a4612a064c8e488cc834ae7deb308c1a27e45
