<%- include ("./partials/cabecera")%>
<%- include ("./partials/navbar")%>
<h1> Ingreso de Autores</h1>
<form action="/agregarAutor " method="post">
    Nombre:
    <input type="test" name="nombre" id="">
    <br><br>
    Fecha Nacimiento:
    <input type="date" name="fechaNacimiento" id="">
    <br><br>
    Nacionalidad
     <input type="text" name="Nacionalidad" id="">
     <br><br>
     <input types="submit" value="Enviar">
     
</form>
<%- include ("./partials/footer")%>
<% include ("./partials/pie.ejs") %>
  