<div class="card" style="width: 18rem;">
    <img src="<%=ruta%> " class="card-img-top" alt="400px">
    <div class="card-body">
      <h5 class="card-title"><%=Libro%> /h5>
      <p class="card-text"><%=Autor%> </p>
      <p class="card-text"><%=Edicion%> </p>   
      <a href="#" class="btn btn-primary">ver mas...</a>
    </div>
  </div>