#principal{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
body{
    background-color: aquamarine;
}
h3{
    float: left;
    width: 50%;
}
.derecha{
    text-align: right;
}
.ancho{
    width: 100px;
}
